.App {
background-color: #e7a5bd;
height: 100vh;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
@media screen and (max-width: 768px) {
   
    .App > div {
      flex-basis: 100%;
      margin-bottom: 20px;
    }
    .App > div:last-child {
      margin-bottom: 0;
    }
  }